
<script type="text/javascript">

	function sendEvent(selected_event){
		// .js function here
			var startDate = new Date(parseInt(selected_event.EventDate.substr(6)));
			var endDate = new Date(parseInt(selected_event.EventEndDate.substr(6)));
			
			var loc = selected_event.EventAddress + " " + selected_event.EventCity + ", " + selected_event.EventState
			t.queryAndUpdateLocation(loc);
			
		if(endDate.getTime()-startDate.getTime() > 604800000) {
			var startDateStart = new Date(parseInt(selected_event.EventDate.substr(6)));
			var startDateEnd = new Date(parseInt(selected_event.EventDate.substr(6)));
			var endDateEnd = new Date(parseInt(selected_event.EventEndDate.substr(6)));
			var endDateStart =  new Date(parseInt(selected_event.EventEndDate.substr(6)));
			
			startDateEnd.setHours(startDateStart.getHours()+1);
			endDateStart.setHours(endDateEnd.getHours()-1);
			

					
			var startEvent = {
						start: startDateStart.toISOString(),
						end: startDateEnd.toISOString(),
						title: selected_event.EventName + ' Start'
					};
					
			var endEvent = {
						start: endDateStart.toISOString(),
						end: endDateEnd.toISOString(),
						title: selected_event.EventName  + ' End'
					};
					
			$('#calendar').fullCalendar( 'renderEvent', startEvent, 'stick');
			$('#calendar').fullCalendar( 'renderEvent', endEvent, 'stick');
			
			gapi.client.load('calendar', 'v3', function() {
				var newGoogleStartEvent = {
				  "summary": selected_event.EventName + ' Start',
				  "start": {
					"dateTime": startDateStart.toISOString()
				  },
				  "end": {
					"dateTime": startDateEnd.toISOString()
				  }
				  };
				var newGoogleEndEvent = {
				  "summary": selected_event.EventName  + ' End',
				  "start": {
					"dateTime": endDateStart.toISOString()
				  },
				  "end": {
					"dateTime": endDateEnd.toISOString()
				  }
				  };
				var request = gapi.client.calendar.events.insert({
				  'calendarId': 'primary',
				  'resource': newGoogleStartEvent
				});
				var request2 = gapi.client.calendar.events.insert({
				  'calendarId': 'primary',
				  'resource': newGoogleEndEvent
				});
				request.execute(function(resp) {
				  console.log(resp);
				});
				request2.execute(function(resp) {
				  console.log(resp);
				});
			});
		}
		else {

					
			var startEvent = {
						start: startDate.toISOString(),
						end: endDate.toISOString(),
						title: selected_event.EventName
					};
					
			$('#calendar').fullCalendar( 'renderEvent', startEvent, 'stick');
			
			gapi.client.load('calendar', 'v3', function() {
				var newGoogleEvent = {
				  "summary": selected_event.EventName,
				  "start": {
					"dateTime": startDate.toISOString()
				  },
				  "end": {
					"dateTime": endDate.toISOString()
				  }
				  };
				var request = gapi.client.calendar.events.insert({
				  'calendarId': 'primary',
				  'resource': newGoogleEvent
				});
				request.execute(function(resp) {
					console.log(resp);
				});
			});
		}
	}

</script>

<header>Cyclendar</header>

<div id='authorize'>
	<a href='#' id='authorize-button' onclick='handleAuthClick();'>Login</a>
</div>

<section id='content'>

  <div id='eventsDiv'>
	<h1>Upcoming Events</h1>
	<ul id='utag'>
		<% @events.each do |event| %>
			<li id='ltag'>
				<button id='ebtag' onclick='sendEvent(<%= event.to_json %>)'>
					<% sDate = Date.strptime(event["EventDate"][6..15], "%s")%>
					<% eDate = Date.strptime(event["EventEndDate"][6..15], "%s")%>
					<p id='etag'><%= event["EventName"] %></p>
					<p id='etag'><%= event["EventAddress"] + " " +event["EventCity"] + ", " + event["EventState"]%></p>
					<p id='etag'><%= 	"Event Starts: " + sDate.strftime("%B %-d, %Y") %></p>
					<p id='etag'><%= 	"Event Ends: " + eDate.strftime("%B %-d, %Y") %></p>
				</button>
			</li>
		<% end %>
	</ul>
  </div>
  <div id='googleDiv'>
	  <div id='map-canvas'></div>
	  <div id='calendar'></div>
  </div>
</section>
<footer>Cyclendar: A hub for your biking events</footer>

