<h1>Events#display_all</h1>

<table>
  <thead>
    <tr>
      <th>Event Name</th>
	  <th>Address</th>
	  <th>City</th>
	  <th>State</th>
	  <th>Start Date</th>
	  <th>End Date</th>
    </tr>
  </thead>

  <tbody>
    <% @events["MatchingEvents"].each do |event| %>
      <tr>
        <td><%= event["EventName"] %></td>
		<td><%= event["EventAddress"] %></td>
		<td><%= event["EventCity"] %></td>
		<td><%= event["EventState"] %></td>
		<td><%= event["EventDate"] %></td>
		<td><%= event["EventEndDate"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
